.App_header {
  background-color: #46178f;
}

.header_item {
  height: 30px!important;
  width: 170px!important;
  margin: 10px!important;
  margin-left: 25px!important;
  color: #ffffff !important;
}

.App {
  height: 100vh;
  background-color: #eee;
}

.App_body {
  margin-left: 20px!important;
  overflow: 'auto'!important;
}

.item_list {
  width: 100%!important;
  overflow: visible!important;
  flex: 1 50;
}

.highlighted {
  background-color: #ff0000!important;
  border: 5px!important;
  border-style: solid!important;
  border-bottom-color: #000!important;
}